---
import photo from "../assets/rapha.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="about-me">
        <img src={photo} alt="" />
        <div class="description">
            <h1>
                Hello, I am Rapha. A Senior Product Designer and Illustrator
                based in Dublin.
            </h1>
            <p>
                As a Senior Product Designer with over a decade of experience, I
                have a passion for creating effective and user-centered designs.
                I work with cross-functional teams, utilizing my knowledge in
                design thinking, user-centered design, and design systems. I
                strive to balance user needs, business goals and technical
                constraints to achieve successful and practical designs. My
                portfolio exhibits my approach and my persistent commitment to
                improve the user experience.
            </p>
        </div>
    </div>
</Layout>
