---
import Layout from "../layouts/Layout.astro";
import projectData from "../data/data.json";

const projects = projectData.projects;
---

<Layout>
	<h1>INDEX page</h1>

	{
		projects.map((project) => (
			<a href={"projects/" + project.title}>{project.title}</a>
		))
	}
</Layout>
