---
---

<nav class="header">
    <a class="logo" href="/">Rapha Lobosco</a>
    <div class="nav">
        <a href="/">
            <span class="material-symbols-rounded"> home</span>
        </a>
        <a href="about">ABOUT</a>
        <a href="projects">PROJECTS</a>
        <a href="https://www.linkedin.com/in/raphalobosco/">LINKEDIN</a>
    </div>
</nav>
