---
---

<nav>
    <a class="logo">Rapha Lobosco</a>
    <div class="nav">
        <a href="about">ABOUT</a>
        <a href="projects">PROJECTS</a>
        <a href="https://www.linkedin.com/in/raphalobosco/">LINKEDIN</a>
    </div>
</nav>
