---
import projectData from "../data/data.json";
const projects = projectData.projects;
---

<div class="projects-grid">
    {
        projects.map((project) => (
            <a href={"/projects/" + project.title}>
                <div class="item">
                    <img src={project.photo} alt="" />
                    <div class="info">
                        <p class="title">{project.title}</p>
                        <p class="category">UX, UI</p>
                    </div>
                </div>
            </a>
        ))
    }
</div>
