.about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin-block: 4rem;

    img {
        border-radius: 8px;
    }

    .description {
        width: 85%;

        h1 {
            margin-bottom: 1rem;
        }

        p {
            line-height: 1.8;

        }
    }
}